<form #f="ngForm" novalidate
      *ngIf="active"
      (ngSubmit)="submitContact()">


  <!--
  Grâce à l'identifiant  #f je peux connaitre l'état de validation de mon formulaire...
  -->

  <h5 class="text-center m-4">
    Ajouter un Contact
  </h5>

  <pre>
    form is valid : {{f.valid}}
    {{ nouveauContact | json}}
  </pre>

  <div class="form-group">
    <input type="text" name="name" required
           placeholder="Saisissez votre nom complet..."
           class="form-control"
           [class.is-invalid]="name.invalid && name.touched"
           [class.is-valid]="name.valid"
           [(ngModel)]="nouveauContact.name"
            #name="ngModel">
    <div class="invalid-feedback">
      Vous devez saisir votre nom complet.
    </div>
  </div>

  <div class="form-group">
  <input type="text" name="username" required
         placeholder="Saisissez votre username..."
         class="form-control"
         [class.is-invalid]="username.invalid && username.touched"
         [class.is-valid]="username.valid"
         [(ngModel)]="nouveauContact.username"
        #username="ngModel">
  <div class="invalid-feedback">
    Vous devez saisir votre username.
    </div>
  </div>

  <div class="form-group">
    <input type="text" name="email" required
           placeholder="Saisissez votre email..."
           class="form-control"
           [class.is-invalid]="email.invalid && email.touched"
           [class.is-valid]="email.valid"
           [(ngModel)]="nouveauContact.email"
           #email="ngModel">
    <div class="invalid-feedback">
      Vous devez saisir votre email.
    </div>
  </div>

  <button type="submit" [disabled]="f.invalid"
          class="btn btn-block btn-primary"
  >
    Ajouter le Contact
  </button>

</form>

